.DS_Store
notebooks/.ipynb_checkpoints/
notebooks/personal/
scripts/personal/
build/
dist/
mie_tables/
pyshdom.egg-info/
pyshdom/__pycache__/
tests/__pycache__/
pyshdom/*.so
venv/
src/core.pyf
src/coremodule.c
